<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Done Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Done! Apple Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Done! Apple Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Done!.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>003A9CB01D57ECAB00271737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>003A9CBE1D57ECB800271737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>003C01471CCC4752003F7A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>006083471CC4007500A344F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>006083601CC4007500A344F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0060836B1CC4007500A344F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008314EA1CDE8EB2003E706D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008315401CDE8FDB003E706D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0087E5021CCBE6DA00CDF882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00F254321CDE89B3005D5408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FA9E1F1CE902BE00E977D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>281838B81CC9B01800D5930E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28BDF7DE1CC9093100E3F63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
